.mapWrapper {
    width: 100%;
    height: 37.750rem;
    position: relative;
}

.mapElement {
    width: 100%;
    height: 100%;
}

.centerMarker {
    background: url('/images/mapMarker.png') no-repeat center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 31px;
    transform: translate(-50%, -100%);
    pointer-events: none;
    z-index: 100;
}