.mapWrapper {
    width: 100%;
    height: calc(100vh - 3rem - 3rem - 1.25rem - 1.25rem - 1.25rem);
    /* ㄴ> 100vh - input-round - button - gap - padding block */
    /* height: 37.75rem; */
    position: relative;
}

/* 게시글 상세일 때 */
.detailMapWrapper {
    height: 10rem;
    border-radius: 1.25rem;
    margin-top: 0.5rem;
    position: relative;
}

.mapElement {
    width: 100%;
    height: 100%;
}

.centerMarker {
    background: url('/images/mapMarker.png') no-repeat center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 31px;
    transform: translate(-50%, -100%);
    pointer-events: none;
    z-index: 100;
}