.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* min-height: 100vh; */
    min-height: calc(100vh - 3rem - 2.5rem);
    /* header + 아래패딩 높이만큼 빼기 */
    padding-bottom: 2.5rem;
}

.form_title {
    font-size: 0.75rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 8px;
}

.form_title span {
    color: #F66A6A;
}

.title_wrapper {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: #121212;
}