.mapWrapper {
    margin-inline: -1.25rem;
}

.flexWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-block: 1.25rem;
}

.kakaoLoad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    position: absolute;
    gap: 16px;
    top: 50%;
    color: #999999;
}