.image_wrapper {
    height: 30rem;
    position: relative;
    margin-right: calc(-1.25rem);
    margin-left: calc(-1.25rem);
}

.contents_wrapper {
    padding-block: 1.5rem 2.5rem;
}

.edit_img {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}

.location_img {
    width: 1rem;
    height: 1rem;
    position: relative;
}

.mapArr_img {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}

.map_wrapper {
    height: 10rem;
    border-radius: 1.25rem;
    position: relative;
    margin-top: 0.5rem;
    overflow: hidden;
    /* transition: all 0.4s; */
}

.address_wrapper {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E4E4E4;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
}

.address_title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #1C1C1C;
}

.addressDetail_wrapper {
    display: flex;
    align-items: center;
    font-size: 0.813rem;
    font-weight: 600;
    margin-top: 0.75rem;

}

.addressDetail {
    color: #777777;
    line-height: 1;
}

.map_txt {
    color: #333333;
}

.map_toggle {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

.contents {
    font-size: 0.875rem;
    color: #333333;
    line-height: 20px;
}




.image_inner {
    position: relative;
    width: 100%;
    height: 100%;
}


/* Swiper 전역 클래스 지정 */
.image_wrapper :global(.mySwiper) {
    width: 100%;
    height: 100%;
    position: relative;
}

.image_wrapper :global(.swiper-pagination) {
    position: absolute;
    bottom: 1.25rem;
    left: auto;
    /* ㄴ> Swiper pagination 기본값 left: 0 없애기 */
    right: 1.25rem;
    padding: 0.25rem 0.5rem;
    width: auto;
    min-width: 2.5rem;
    min-height: 1.25rem;
    border-radius: 6.25rem;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.688rem;
    color: #F2F2F2;
}

.image_wrapper :global(.swiper-pagination-current),
.fullscreen_wrapper :global(.swiper-pagination-current) {
    margin-right: 0.25rem;
}

.image_wrapper :global(.swiper-pagination-total),
.fullscreen_wrapper :global(.swiper-pagination-total) {
    margin-left: 0.25rem;
}

/* 이미지 풀스크린 */
.fullscreen_wrapper {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.zoom_wrapper {
    width: 100%;
    height: 100%;

}

.imageClose_img {
    position: fixed;
    /* top: 1.25rem; */
    top: calc(env(safe-area-inset-top) + 1.25rem);
    /* ㄴ> 상단바랑 겹쳐서 터치 안 먹히는 현상 해결하기 */
    left: 1.25rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;
}

.fullscreen_wrapper :global(.full_Image) {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 풀스크린 페이지네이션 */
.fullscreen_wrapper :global(.fullscreen_pagination) {
    position: fixed;
    right: 1.25rem;
    left: auto;
    bottom: calc(env(safe-area-inset-bottom) + 1.25rem);
    /* ㄴ> 하단 제스처 바(홈바)에 UI가 가려지는 걸 막기 */
    padding: 0.25rem 0.5rem;
    width: auto;
    min-width: 2.5rem;
    min-height: 1.25rem;
    border-radius: 6.25rem;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.688rem;
    color: #F2F2F2;
    pointer-events: none;
    /* ㄴ> 스와이프 방해 안 하게 */
}

.placeImage_img {
    position: relative;
    width: 100%;
    height: 100%;
}



/* 삭제 모달 dim */
.innerMask {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    z-index: 999;
}

.delete_modal :global(.ant-btn-default:not(.ant-btn-dangerous):not(:disabled):hover) {
    border: 1px solid #d9d9d9c4;
    color: #595959;
}