.image_wrapper {
    height: 480px;
    position: relative;
    margin-right: calc(-1.25rem);
    margin-left: calc(-1.25rem);

}

.contents_wrapper {
    padding-block: 24px 40px;
}

.edit_img {
    width: 24px;
    height: 24px;
    position: relative;
}

.location_img {
    width: 1rem;
    height: 1rem;
    position: relative;
}

.mapArr_img {
    width: 24px;
    height: 24px;
    position: relative;
}

.map_wrapper {
    height: 160px;
    border-radius: 20px;
    position: relative;
    margin-top: 8px;
    transition: all 0.4s;
}

.address_wrapper {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E4E4E4;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.address_title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #1C1C1C;
}

.addressDetail_wrapper {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}

.addressDetail {
    color: #777777;
}

.map_txt {
    color: #333333;
}

.map_toggle {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.contents {
    font-size: 14px;
    color: #333333;
    line-height: 20px;
}