.mypage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mypage_inner {
    flex-direction: 1;
    /* 네비 빼고 남은 공간 다 차지하기 */
}

.logout {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 1rem;
    cursor: pointer;
    color: #000;
}

.logout:hover {
    opacity: 0.8;
}