.button_normal {
    width: 100%;
    height: 3rem;
    background-color: #2974E5;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
}

.button_circle {
    width: 3rem;
    height: 3rem;
    background-color: #2974E5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}