/* 모달 body 스타일 */
.modal :global(.ant-modal-body) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.modal :global(.ant-modal-container) {
    border-radius: 1.5rem;
}


.title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #000000;
}

.logo_img {
    width: 78px;
    height: 48px;
    position: relative;
    margin-block: 0.75rem 1.5rem;
}

.loginBtn {
    min-width: 6rem;
    width: 7.5rem;
    height: 2.5rem;
    background-color: #2974E5;
    border-radius: 0.5rem;
    color: #FFFFFF;
}