.add_img {
    width: 6.25rem;
    height: 6.25rem;
}

.upload_img {
    border-radius: 0.5rem;
    overflow: hidden;
    flex-shrink: 0;
    /* ㄴ> 이미지 추가 시 줄어들지 않게 하기*/
    position: relative;
}

.img_wrapper {
    display: flex;
    gap: 0.75rem;
    flex-wrap: nowrap;
    width: 100%;
    overflow: visible !important;
}

.img_wrapper .swiper-wrapper {
    align-items: flex-start;
    overflow: visible;
}

.slide {
    width: 6.25rem !important;
    flex-shrink: 0;
}


.closeImg {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}