.input_normal {
    width: 100%;
    height: 2.75rem;
    border: 1px solid #D4D3D3;
    border-radius: 0.5rem;
    padding-inline: 1rem;
}


.error_txt {
    font-size: 0.75rem;
    color: #F66A6A;
    font-weight: 600;
    margin-top: 0.25rem;
}

.input_round {
    width: 100%;
    height: 3rem;
    border-radius: 6.25rem;
    text-align: center;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.16);
    outline: none;
}