@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    font-size: 16px;
    /* 기준을 16px로 강제 고정 */
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    color: #ABABAB;
    font-size: 0.875rem;
    font-weight: 500;
}

/* PC에서만 */
@media (min-width: 769px) {
    body {
        background: #f5f5f5;
    }
}


/* 페이지 이동하기 뷰트랜지션 */
@keyframes old_page {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes new_page {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

html::view-transition-old(root) {
    animation-name: old_page;
    animation-duration: 0.5s;
}

html::view-transition-new(root) {
    animation-name: new_page;
    animation-duration: 0.5s;
}

/* 뒤로가기 뷰트랜지션 */
@keyframes old_page_back {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes new_page_back {
    from {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html.backWithTransition::view-transition-old(root) {
    animation-name: old_page_back;
    animation-duration: 0.5s;
}

html.backWithTransition::view-transition-new(root) {
    animation-name: new_page_back;
    animation-duration: 0.5s;
}