.footer_layer {
    flex: 1;
}

.isPlace_footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 430px;

}

.signup_link {
    display: block;
    text-align: center;
    margin-top: 0.75rem;
    color: #000;
}