/* .footer_wrapper {
    display: flex;
    flex-direction: column;
} */

.footer_layer {
    flex: 1;
}

.isPlace_footer {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
    width: 100%;
}

.signup_link {
    display: block;
    text-align: center;
    margin-top: 0.75rem;
}