.title_wrapper {
    display: flex;
    gap: 0.5rem;
    padding-block: 12px;
    margin-bottom: 24px;
}

.title_new {
    font-size: 1.125rem;
    font-weight: 700;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* min-height: 100vh; */
    min-height: calc(100vh - 80px);
    /* ㄴ> padding-bottom, gap만큼 빼기 */
    padding-bottom: 2.5rem;
}

.form_title {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 8px;
}

.form_title span {
    color: #F66A6A;
}

.form_textarea {
    width: 100%;
    height: 148px;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    border: 1px solid #D4D3D3;
}