.nav_wrapper {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    padding-inline: 1.25rem;
    border-top: 1px solid #F2F2F2;
    /* margin-inline: -1.25rem; */
    /* margin-bottom: 20px; */
}

.nav_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1;
}

.icon_img {
    width: 24px;
    height: 24px;
    position: relative;
}

.navText {
    font-size: 11px;
    font-weight: 500;
    color: #777777;
}

.navText_active {
    font-size: 11px;
    font-weight: 600;
    color: #000000;
}